    *{
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
    }
    body{
        background-color: rgb(10, 10, 10);
        text-align: center;
        padding: 30px;
        color: white;
    }

h1{
    color: whitesmoke;
    background-color: darkolivegreen;
}
h2{
    background-color: darkgoldenrod;
}
h3{
    background-color: darkcyan;
}